# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs / temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Build / dist
build/
dist/
*.egg-info/

# Data files (comment out if you want to track data)
*.csv
*.tsv
*.h5
*.nc
